@import "varibles.less";
@import "mixin.less";

/* Base
   ========================================================================== */
@import "normalize.less";
@import "grid.less";

body {
	background-color: lighten(@blue, 30%); 
    font-family: @fontFamilyTin;
    font-size: 16px;
    line-height: 1;
    color: @main;
    }
p {
    line-height: 1.5;
    }

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    line-height: 1.2;
    }

a {
    color: @blue;
    .transition(color 200ms);
    }

/* Project
   ========================================================================== */
.wrap() {
	width: @tableDesktop;
	margin: 0 auto;

	@media @t {
		width: auto;
		margin: 0 @MobileIndent;
		}

	}
	
.wrapper {
	.wrap();
	}

.head {
	background-color: @blue;
	padding: @HeadPadding 0;
	margin: @HeadIndent 0;
	position: relative;
	.clearfix;

	&__flag {
		position: absolute; top: 0; bottom: 0; left: 0; z-index: 1;
		}

	&__logo {
		font-family: @fontTitle;
		font-size: @HeadLogoFontSize;
		font-weight: 700;
		position: relative; z-index: 2;
		float: left;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		}

	&__menu {
		.clearfix;
		.resetListStyle;
		font-family: @fontTitle;
		float: right;
		margin: (@HeadLogoFontSize - @HeadMenuitemFontSize) / 2;

		// Mobile menu
		@media @t {
			display: none;
			float: none;
			clear: both;

			position: relative; top: 20px; z-index: 2;

			.toogle-menu.on ~ & {
				display: block;
				}

			}

		&__i {
			float: left;
			font-size: @HeadMenuitemFontSize;
			color: #fff;

			@media @t {
				margin: 1em 0;
				}

			& + & {
				margin-left: 36px;
				}

			a {
				position: relative;

				&:before {
					position: absolute; top: 110%; left: 0;
				    border-bottom: 1px solid;
				    content: "";
				    width: 100%;
				    opacity: 0;
				    .translate(0, 10px);
				    .transition(opacity 200ms, transform 200ms;);
					}

				&:hover:before,
				&.active:before {
					opacity: 1;
	    			.translate(0, 0);
					}

				}

			// Mobile menu
			@media @t {
				float: none;

				& + & {
					margin-top: 0.5em;
					margin-left: 0;
					}

				}

			a {
				color: inherit;
				text-decoration: none;
				.transition(color 250ms);

				&:hover {
					color: @yellow;
					}

				}

			}

		}

	.toogle-menu {
		@size: 3px;

	    background: none;
	    border: 0;
	    display: none;
	    padding: 8px 10px;
	    position: absolute; top: @HeadPadding; right: @MobileIndent;
	    width: (@size * 3) * 7;
		
		// Mobile menu
	    @media @t {
	    	display: block;
	    	}

	    &__i {
		    background-color: #fff;
		    display: block;
		    height: 3px;

		    & + * {
	    		margin-top: 3px * 2;
		    	}

			}

		}

	}

.main-b {
	.box();
	overflow: hidden;
	padding: 50px 0;

	&__title {
		color: @main;
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 500;
		margin: 0 0 1em;
		}

	}

.proj-b {
	// background: fade(#036f8d, 75%) url("../img/box-bg.png") repeat 0 0;
	background-color: #fff;
	position: relative;
	padding: 10px 0 20px 0;
	margin: @HeadIndent 0;
	// color: #fff;

	&__title {
		text-align: center;
		font-family: @fontFamilyTin;
		font-size: 60px;
		font-weight: 100;
		line-height: 1.3;
		margin-top: 0.5em;
		margin-right: 60px;
		margin-left: 60px;
		// color: #fff;

		b {
			font-weight: 300;
			}

		@media @t {
			font-size: 45px;
			}
		@media @m {
			font-size: 30px;
			margin-right: @MobileIndent;
			margin-left: @MobileIndent;
			}

		}

	&__des {
		text-align: center;
		display: none;
		margin: 0 60px;

		&.on {
			display: block;
			}

		@media @m {
			margin: 0 @MobileIndent;
			}

		}

	}

	.galery-b {
		@imageHeight: 180px;

		margin-top: 30px;
		padding: 0 10px 0 0;
		text-align: center;
		.clearfix;

		&__i {
			display: inline-block;
			width: 100% / 4;
			height: @imageHeight;
			overflow: hidden;
			padding-left: 10px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
					box-sizing: border-box;

			@media @m {
				width: 100% / 2;
				height: @imageHeight / 2;
				}

			a {
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
				}
				img {
					position: relative; left: 50%;
					min-height: @imageHeight;
					height: auto;
					.translate(-50%, 0);

					@media @m {
						min-height: @imageHeight / 2;
						}

					}

			}

		}

.circle {
	@size: 164px;
	@indent: 15px;

	margin: 0 auto;
	position: relative;
	width: @size + @indent * 4 + 4px;
	height: @size + @indent * 4 + 4px;
	overflow: hidden;

	@media @m {
		margin-top: 2em;
		margin-bottom: 1em;
		}

	&__i {
		display: block;
		border-radius: 50%;
		position: absolute; top: 0; left: 0;

		&:before {
			position: absolute; top: -3px; right: 0; bottom: 0; left: 0;
			content: "";
			border-top: 6px solid #fff;
			border-radius: 50%;
			}

		&.__1 {
			border: 2px solid @blue;

			width: @size + @indent * 2;
			height: @size + @indent * 2;
			margin: @indent;

			.__1 & {
				.rotate(-45deg);
				}
			.__1:hover & {
				.circleAnimation(circle_1_in, -45deg, true);
				}

			.__2 & {
				.rotate(220deg);
				}
			.__2:hover & {
				.circleAnimation(circle_2_in, 220deg, true);
				}

			.__3 & {
				.rotate(82deg);
				}
			.__3:hover & {
				.circleAnimation(circle_3_in, 82deg, true);
				}


			}
		&.__2 {
			border: 2px solid @orange;

			width: @size + @indent * 4;
			height: @size + @indent * 4;
			
			.__1 & {
				.rotate(113deg);
				}
			.__1:hover & {
				.circleAnimation(circle_1_out, 113deg);
				}

			.__2 & {
				.rotate(35deg);
				}
			.__2:hover & {
				.circleAnimation(circle_2_out, 35deg);
				}

			.__3 & {
				.rotate(-220deg);
				}
			.__3:hover & {
				.circleAnimation(circle_3_out, -220deg);
				}


			}

		}

	.circleAnimation(@name, @deg, @revert: false) {
		-webkit-animation: @name 1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s;
				animation: @name 1s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s;
		
		@keyframes @name {
			from {
				.rotate(@deg);
				}
			to {
				& when (@revert = false) {
					.rotate(@deg - 360deg);
					}
				& when (@revert = true) {
					.rotate(@deg + 360deg);
					}

				}

			}

		@-webkit-keyframes @name {
			from {
				.rotate(@deg);
				}
			to {
				& when (@revert = false) {
					.rotate(@deg - 360deg);
					}
				& when (@revert = true) {
					.rotate(@deg + 360deg);
					}

				}

			}

	}

	&__img {
		position: relative;
		width: @size;
		height: @size;
		overflow: hidden;
		border-radius: 50%;

		margin: @indent * 2 auto;

		&:before {
			box-shadow: 0 0 0 8px fade(#fff, 50%) inset;
			position: absolute; top: 0; right: 0; bottom: 0; left: 0;
			content: "";
			border-radius: 50%;
			}
		
		& > i {
			display: inline-block;
			width: @size;
			height: @size;
			}

		}

	}

.footer {
	.box();
	padding: 10px 0;
	margin: @HeadIndent 0;
	text-align: center;
	font-size: 20px;

	@media @t {
		margin-right: @MobileIndent;
		margin-left: @MobileIndent;
		}
		
	}

.main-b-slider {
	position: relative;

	.slides {
		.resetListStyle;
		}

	}

.flex {
	&-control-nav {
		.resetListStyle;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 50px;

		li {
			display: inline-block;
			}

		a {
			background-color: @blue;
			border-radius: (50%);
			width: 10px;
			height: 10px;
			display: inline-block;
			margin: 0 5px;
			cursor: pointer;
			opacity: 0.25;
			.transition(opacity 300ms);

			overflow: hidden;
			text-indent: -100%;

			&.flex-active {
				opacity: 1;
				}

			}

		}
	@navBtnWidth: 60px;
	@navBtnHeight: 80px;

	&-direction-nav {
		.resetListStyle;

		@media @m {
			display: none;
			}

		}
		&-nav-prev,
		&-nav-next {
			position: absolute; top: 50%;
			margin-top: -@navBtnWidth/2;
			width: @navBtnWidth;
			height: @navBtnHeight;
			}
		&-nav-prev {
			left: 0;
			}
		&-nav-next {
			right: 0;
			}

			&-prev,
			&-next {
				display: block;
				width: 100%;
				height: 100%;
				background-color: fade(@blue, 30%);
				text-indent: -200%;
				overflow: hidden;
				.transition(background-color 300ms);

				&:before {
					@size: 24px;

					position: absolute; top: 50%; left: 50%;
					margin-top: -@size / 2;
					margin-left: -@size / 1.6;
					content: "";
					.check(3px, #fff, @size, 45deg);
					}

				&:hover {
					background-color: fade(@blue, 20%);
					}

				}
				&-prev:before {
					.rotate(45deg);
					}
				&-next:before {
					.rotate(-135deg);
					}

	}

.box-c {
	width: auto;
	margin: 24px 14%;
	text-align: center;

	@media @m {
		margin-right: @MobileIndent;
		margin-left: @MobileIndent;
		}

	}

.box-c-btn {
	margin: 24px 0;
	}

.btnMaimStyle() {
	border-radius: 34px;

	@media @m {
		margin: 0.5em 0;
		}

	}
.cur-input {
	@textWidth: 75px;

	.btnMaimStyle();
	border: 2px solid @grey;
	display: inline-block; vertical-align: top;
	overflow: hidden;
	max-width: 280px - 2px * 2;
	
	&__w {
		margin-right: @textWidth + 2px;
		}
		&__num {
			background: transparent;
			margin: 0;
			border: 0;
			padding: 0;
			outline: none;
			
			font-size: 30px;
			padding: 13px 40px;
			width: 100%;
			.box-sizing(border-box);
			}

	&__t {
		float: right;
		font-size: 26px;
		width: @textWidth;
		text-align: center;
		padding: 5px 0;
		margin: 14px 0;
		border-left: 2px solid @grey;
		}

	}

.btn {
	@width: 280px;
	@sideIndented: 20px;

	.btnMaimStyle();
	background-color: @blue;
	border: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 200;
	padding: 20px @sideIndented;
	.box-shadow(0 -2px 0 0 darken(@blue, 10%) inset);
	width: 100%;
	max-width: @width;
	.box-sizing(border-box);
	.transition(background-color 300ms);

	&:hover {
		background-color: darken(@blue, 10%)
		}

	}

.btn-sub-t {
	text-align: center;

	a {
		border-bottom: 1px dotted;
		text-decoration: none;
		color: inherit;
		.transition(border-color 300ms);

		&:hover {
			border-bottom: 0;
			border-color: #fff;
			}

		}
	
	}

.info-t {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 200;
	text-align: center;

	b {
		font-weight: inherit;
		color: @blue;
		}

	}

.social-btn {
	@size: 36px;

	&__i {
		background-color: @blue;
		width: @size;
		height: @size;
		display: inline-block;
		border-radius: 50%;
		margin: 0 3px;
		vertical-align: top;
		.transition(background-color 300ms);

		&:hover {
			background-color: darken(@main, 10%)
			}

		}

	}


.about-name {
	color: @blue;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	margin: 1.5em 0 1em;
	}

.about-footer {
	@blockPadding: 50px;

	background: @blue url("../img/footer-about.jpg") no-repeat 50% 0;
	background-size: cover;
	padding: @blockPadding 0;

	@media @m {
		padding: @blockPadding / 2 0;
		}

	&__title {
		font-size: 30px;
		font-weight: 500;
		color: #fff;
		margin: 0 0 1.5em;
		text-align: center;
		text-transform: uppercase;

		@media @m {
			margin-bottom: 0.5em;
			}

		}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: lighten(@blue, 20%);
			}

		}

	&__info {
		color: #fff;
		font-size: 20px;
		text-align: center;

		.icon {
			@size: 64px;
			
			background-color: @blue;
			display: inline-block;
			width: @size;
			height: @size;
			line-height: @size;
			border-radius: 50%;
			text-align: center;
			vertical-align: middle;
			margin-right: 20px;

			@media @m {
				display: block;
				margin: 30px auto 10px;
				}

			&:before {
				margin: (@size - 36px) / 2;
				}

			}

		}

	.footer {
		margin-top: 150px;

		@media @m {
			margin-top: 20px;
			}

		}

	}


.step-b {
	@itemIndent: 100px;
	@textIndent: 16%;

	&__i {
		position: relative;
		counter-increment: post;

		& + & {
			margin-top: @itemIndent;
			}

		&:before {
			position: absolute; top: 0; right: 0; bottom: 0;
			background-color: @blue;
			width: 4px;
			height: 200px;
			content: "";

			@media @m {
				display: none;
				}

			}
		&:nth-child(even) {
			text-align: right;

			&:before {
				right: auto; left: 0;
				}

			}

		@media @m {
			text-align: left !important;
			}

		&__arow {
			@height: 30px;

			position: absolute; left: 50%; bottom: -(@itemIndent - @height);
			margin-left: -20px;
			}

		&__title {
			content: counter(post,decimal) ". ";
			color: @blue;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 500;
			}

		&__text {
			font-size: 18px;
			position: relative;
			padding-right: @textIndent;

			@media @m {
				text-align: left !important;
				padding-right: 0 !important;
				padding-left: 0 !important;
				}

			}

		&:nth-child(even) &__text {
			padding-right: 0;
			padding-left: @textIndent;
			}

		&__link {
			color: @main;

			a {
				color: inherit;
				border-bottom: 1px dotted;
				text-decoration: none;
				}

			}

		&__img {
			text-align: center;

			@media @m {
				display: none;
				}

			img {

				}

			}

		}

	}


[class^="sp-"],
[class*="sp-"] {
	&::before {
		background-image: url("../img/sprite.png");
		background-repeat: no-repeat;
		display: inline-block;
		content: "";
		}

	}

@spFlagHeight: 90px;
.sp-flag:before {
	width: 88px;
	height: @spFlagHeight;
	}

@spMediumIconSize: 36px;
[class^="sp-mi-"],
[class*="sp-mi-"] {
	&::before {
		width: @spMediumIconSize;
		height: @spMediumIconSize;
		}

	}
.sp-mi-fb:before {background-position: 0 * -@spMediumIconSize -@spFlagHeight}
.sp-mi-in:before {background-position: 1 * -@spMediumIconSize -@spFlagHeight}
.sp-mi-tw:before {background-position: 2 * -@spMediumIconSize -@spFlagHeight}
.sp-mi-cl:before {background-position: 3 * -@spMediumIconSize -@spFlagHeight}
.sp-mi-em:before {background-position: 4 * -@spMediumIconSize -@spFlagHeight}

@spArowHeight: 30px;
.sp-arow:before {
	background-position: 0 -(@spFlagHeight+@spMediumIconSize);
	width: 41px;
	height: @spArowHeight;
	}

.hidden {
	display: none;
	}

.text-left {
	text-align: left;
	}
.text-center {
	text-align: center;
	}
.text-right {
	text-align: right;
	}

/* LOAD */
.load_overlay {
	background-color: rgba(0, 0, 0, 0.95);
	height: 100%;
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	body.load & {
		display: block;
		}

	}
.load_animate {
	height: 90px;
	left: 50%;
	margin: -45px 0 0 -45px;
	position: absolute;
	top: 50%;
	width: 90px;
	}
.load_animate .wBall {
	position: absolute;
	width: 86px;
	height: 86px;
	opacity: 0;
	-webkit-transform: rotate(225deg);
	-webkit-animation: orbit 7.15s infinite;
	transform: rotate(225deg);
	animation: orbit 7.15s infinite;
	}
.load_animate .wBall .wInnerBall{
	position: absolute;
	width: 11px;
	height: 11px;
	background: #FCFCFC;
	left:0px;
	top:0px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	}
.load_animate #wBall_1 {
	-webkit-animation-delay: 1.56s;
	animation-delay: 1.56s;
	}
.load_animate #wBall_2 {
	-webkit-animation-delay: 0.31s;
	animation-delay: 0.31s;
	}
.load_animate #wBall_3 {
	-webkit-animation-delay: 0.62s;
	animation-delay: 0.62s;
	}
.load_animate #wBall_4 {
	-webkit-animation-delay: 0.94s;
	animation-delay: 0.94s;
	}
.load_animate #wBall_5 {
	-webkit-animation-delay: 1.25s;
	animation-delay: 1.25s;
	}
@-webkit-keyframes orbit {
  0% {
  opacity: 1;
  z-index:99;
  -webkit-transform: rotate(180deg);
  -webkit-animation-timing-function: ease-out;
  }
  7% {
  opacity: 1;
  -webkit-transform: rotate(300deg);
  -webkit-animation-timing-function: linear;
  -webkit-origin:0%;
  }
  30% {
  opacity: 1;
  -webkit-transform:rotate(410deg);
  -webkit-animation-timing-function: ease-in-out;
  -webkit-origin:7%;
  }
  39% {
  opacity: 1;
  -webkit-transform: rotate(645deg);
  -webkit-animation-timing-function: linear;
  -webkit-origin:30%;
  }
  70% {
  opacity: 1;
  -webkit-transform: rotate(770deg);
  -webkit-animation-timing-function: ease-out;
  -webkit-origin:39%;
  }
  75% {
  opacity: 1;
  -webkit-transform: rotate(900deg);
  -webkit-animation-timing-function: ease-out;
  -webkit-origin:70%;
  }
  76% {
  opacity: 0;
  -webkit-transform:rotate(900deg);
  }
  100% {
  opacity: 0;
  -webkit-transform: rotate(900deg);
  }
}
@keyframes orbit {
  0% {
  opacity: 1;
  z-index:99;
  transform: rotate(180deg);
  animation-timing-function: ease-out;
  }
  7% {
  opacity: 1;
  transform: rotate(300deg);
  animation-timing-function: linear;
  origin:0%;
  }
  30% {
  opacity: 1;
  transform:rotate(410deg);
  animation-timing-function: ease-in-out;
  origin:7%;
  }
  39% {
  opacity: 1;
  transform: rotate(645deg);
  animation-timing-function: linear;
  origin:30%;
  }
  70% {
  opacity: 1;
  transform: rotate(770deg);
  animation-timing-function: ease-out;
  origin:39%;
  }
  75% {
  opacity: 1;
  transform: rotate(900deg);
  animation-timing-function: ease-out;
  origin:70%;
  }
  76% {
  opacity: 0;
  transform:rotate(900deg);
  }
  100% {
  opacity: 0;
  transform: rotate(900deg);
  }
}