.rotate(@degrees) {
	transform: rotate(@degrees);
}
.scale(@ratio) {

	transform: scale(@ratio);
}
.translate(@x, @y) {
	transform: translate(@x, @y);
}
.skew(@x, @y) {
	transform: skew(@x, @y);
	-webkit-backface-visibility: hidden; // See https://github.com/twbs/bootstrap/issues/5319
}
.translate3d(@x, @y, @z) {
	transform: translate3d(@x, @y, @z);
}
.transition(@transition) {
	transition: @transition;  
}
.transform(@string) {
	transform: @string;
}
.box-sizing(@boxmodel) {
	box-sizing: @boxmodel;
}

.check( @border: 1px, @color: @dark, @size: 12px, @rotate: -45deg, @uneven: false ) {
	border-left: @border solid @color;
    border-bottom: @border solid @color;
    
    width: @size;
    height: @size;

	& when (@uneven = true) {
		height: @size*0.5;
	}
    .rotate(@rotate);
	}	

.clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
		}
	&:after {
		clear: both;
		}
		
	}

.box() {
	background-color: #fff;
	}

.resetListStyle() {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;

	.ie-lt9 & {
        margin-left: 0 !important;
        }

	& > li {
		list-style: none;
		}

	}