@main: #046f8d;
@blue: #70c2d1;
@yellow: #ffeb3b;
@grey: #eceef0;
@orange: #ffbb01;

@fontFamily: Helvetica, Arial, Sans-serif;
@fontFamilyTin: "Segoe UI", "Helvetica Neue", HelveticaNeue, Ubuntu, sans-serif;
@fontTitle: Cuprum, Helvetica, Arial, Sans-serif;

@mobileScreen: 640px;
@tableScreen: 768px;
@tableDesktop: 960px;

@MobileIndent: 10px;

@HeadLogoFontSize: 40px;
@HeadMenuitemFontSize: 20px;
@HeadPadding: 25px;
@HeadIndent: 20px;

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";

@m:  ~"only screen and (max-width: @{mobileScreen})";
@t:  ~"only screen and (max-width: @{tableDesktop})";
@o-t:  ~"only screen and (min-width: @{mobileScreen}) and (max-width: @{tableDesktop})";
@d:  ~"only screen and (max-width: @{tableDesktop})";