<header class="head">
	<i class="head__flag sp-flag"></i>

	<div class="wrapper">
		<a class="head__logo" href="./">{{head-name}}</a>

		<button class="toogle-menu" id="toogleMenuBtn">
            <i class="toogle-menu__i"></i>
            <i class="toogle-menu__i"></i>
            <i class="toogle-menu__i"></i>
        </button>

		<menu class="head__menu js-headMenu">
			<li class="head__menu__i">
				<a href="./">{{menu-name-1}}</a>
			</li>
			<li class="head__menu__i">
				<a href="handmade.html">{{menu-name-2}}</a>
			</li>
			<li class="head__menu__i">
				<a href="about.html">{{menu-name-3}}</a>
			</li>
			<!-- <li class="head__menu__i">
				<div class="language" id="languageSwitcher">
					<a class="sp-flag-ua on" data-id="ua" title="Український" href="ua/"></a>
					<a class="sp-flag-pl" data-id="pl" title="Polski" href="pl/"></a>
					<a class="sp-flag-en" data-id="en" title="English" href="en/"></a>
				</div>
			</li> -->
		</menu>
	</div>
</header>