<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <title>{{title-about}}</title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="{{title-about}}">
	<meta property="og:description" content="{{description-about}}">
	<meta property="og:url" content="http://forheroes.org.ua/">
	<meta property="og:image" content="http://forheroes.org.ua/access/img/open-graph.jpg">

	<meta property="og:locale" content="{{lang-iso}}">
	<meta property="og:site_name" content="{{title-about}}">
	<meta property="og:type" content="article">
	<meta property="article:publisher" content="https://www.facebook.com/groups/HandmadeForHeroes.UA">
	
	include "__head.html"
</head>
<body class="load">
	<noscript><div class="noscript">{{no-js-message}}</div></noscript>
	
	<div class="load_overlay" id="load_overlay">
		<div class="load_animate">
			<div class="wBall" id="wBall_1">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_2">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_3">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_4">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_5">
				<div class="wInnerBall"></div>
			</div>
		</div>
	</div>

	include "__header.html"

	<section class="main-b">
		<div class="wrapper">
			<h2 class="main-b__title">{{main-title-about}}</h2>
	
			<div class="row-fluid">
				<div class="span4">
					<div class="circle __1">
						<i class="circle__i __1"></i>
						<i class="circle__i __2"></i>

						<div class="circle__img">
							<i style="background: url(/access/img/about-tetjana-kovalchuk.jpg)"></i>
						</div>
					</div>

					<h4 class="about-name">{{people-tetjana}}</h4>

					<div class="social-btn text-center js-social">
						<a class="social-btn__i sp-mi-fb" title="Facebook" href="https://www.facebook.com/tanja.kovalchyk" target="_blank"></a>
					</div>
				</div>
				<div class="span4">
					<div class="circle __2">
						<i class="circle__i __1"></i>
						<i class="circle__i __2"></i>

						<div class="circle__img">
							<i style="background: url(/access/img/about-julіja-smojlovska.jpg)"></i>
						</div>
					</div>

					<h4 class="about-name">{{people-julіja}}</h4>

					<div class="social-btn text-center js-social">
						<a class="social-btn__i sp-mi-fb" title="Facebook" href="https://www.facebook.com/julia.smoylovskaya" target="_blank"></a>
						<a class="social-btn__i sp-mi-in" title="LinkedIn" href="https://www.linkedin.com/profile/view?id=21011949" target="_blank"></a>
					</div>
				</div>
				<div class="span4">
					<div class="circle __3">
						<i class="circle__i __1"></i>
						<i class="circle__i __2"></i>

						<div class="circle__img">
							<i style="background: url(/access/img/about-evgenіj-slavjanskij.jpg)"></i>
						</div>
					</div>

					<h4 class="about-name">{{people-evgenіj}}</h4>

					<div class="social-btn text-center js-social">
						<a class="social-btn__i sp-mi-fb" title="Facebook" href="https://www.facebook.com/E.Slavyansky" target="_blank"></a>
						<a class="social-btn__i sp-mi-in" title="LinkedIn" href="https://www.linkedin.com/in/eslavyansky" target="_blank"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="about-footer">
		<div class="wrapper">
			<h3 class="about-footer__title">{{contackus-about}}</h3>

			<div class="row-fluid">
				<div class="span6">
					<div class="about-footer__info">
						<i class="icon sp-mi-cl"></i>
						{{phone-about}} <a href="tel:+38 044 290 86 92">+38 044 290 86 92</a>
					</div>
				</div>
				<div class="span6">
					<div class="about-footer__info">
						<i class="icon sp-mi-em"></i>
						{{mail-about}} <script type="text/javascript">var rsihwkd = ['g','u','=','l','s','h','h','o','t','o','a','n','.','r','@','o','l',' ','t','l','e','r','t','e','"','<','i','o','.','p','o','/','g','h',' ','.','c','"','g','a','i','o','f','"','i','i','a','<','g','m','a','.','>','r','>','a','m','a','o','=','f','n','e','e',':','s','u','p','a','a','"','f','a','@'];var jbaurvd = [26,68,42,38,41,3,56,57,13,64,72,52,67,65,55,54,48,36,58,12,44,30,23,27,8,0,16,14,28,59,22,71,61,21,2,63,37,43,31,34,11,19,53,35,51,47,25,70,66,9,1,32,73,4,50,60,45,46,29,7,6,17,5,62,15,40,33,24,39,10,49,18,69,20];var ohdnobm= new Array();for(var i=0;i<jbaurvd.length;i++){ohdnobm[jbaurvd[i]] = rsihwkd[i]; }for(var i=0;i<ohdnobm.length;i++){document.write(ohdnobm[i]);}</script>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="wrapper">
				<p class="footer__t">
					{{footer-share}}
					<span class="social-btn js-social">
						<a class="social-btn__i sp-mi-fb" id="fb-share" title="Facebook" href="#"></a>
						<a class="social-btn__i sp-mi-tw" id="tw-share" title="Twitter" href="#"></a>
						<div id="fb-root"></div>
					</span>
				</p>
			</div>
		</div>
	</footer>

	include "__footer.html"
</body>
</html>