<!DOCTYPE html>
<html>
<head lang="{{lang}}">
    <meta charset="utf-8">
    <title>{{title-about}}</title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="{{title-about}}">
	<meta property="og:description" content="{{description-about}}">
	<meta property="og:url" content="http://forheroes.org.ua/">
	<meta property="og:image" content="http://forheroes.org.ua/access/img/open-graph.jpg">

	<meta property="og:locale" content="{{lang-iso}}">
	<meta property="og:site_name" content="{{title-about}}">
	<meta property="og:type" content="article">
	<meta property="article:publisher" content="https://www.facebook.com/groups/HandmadeForHeroes.UA">
	
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-61043704-1', 'forheroes.org.ua');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
	</script>

	<link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
	<link rel="apple-touch-icon" href="/touch-icon-iphone.png">
	<link rel="shortcut icon" href="/favicon.ico">

	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--STYLE-->
	<link rel="stylesheet" type="text/css" href="/access/css/main.min.css">
	<!--STYLE END-->

	<link href="http://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body class="load">
	<noscript><div class="noscript">{{no-js-message}}</div></noscript>
	
	<div class="load_overlay" id="load_overlay">
		<div class="load_animate">
			<div class="wBall" id="wBall_1">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_2">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_3">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_4">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_5">
				<div class="wInnerBall"></div>
			</div>
		</div>
	</div>

	<header class="head">
		<i class="head__flag sp-flag"></i>

		<div class="wrapper">
			<a class="head__logo" href="./">{{head-name}}</a>

			<button class="toogle-menu" id="toogleMenuBtn">
                <i class="toogle-menu__i"></i>
                <i class="toogle-menu__i"></i>
                <i class="toogle-menu__i"></i>
            </button>

			<menu class="head__menu js-headMenu">
				<li class="head__menu__i">
					<a href="./">{{menu-name-1}}</a>
				</li>
				<li class="head__menu__i">
					<a href="handmade.html">{{menu-name-2}}</a>
				</li>
				<!-- <li class="head__menu__i">
					<a href="what-donate.html">Звіти</a>
				</li> -->
				<li class="head__menu__i">
					<a href="about.html">{{menu-name-3}}</a>
				</li>
				<li class="head__menu__i">
					<div class="language" id="languageSwitcher">
						<a class="sp-flag-ua on" data-id="ua" href="ua/"></a>
						<a class="sp-flag-pl" data-id="pl" href="pl/"></a>
						<a class="sp-flag-en" data-id="en" href="en/"></a>
					</div>
				</li>
			</menu>
		</div>
	</header>

	<section class="main-b">
		<div class="wrapper">
			<h2 class="main-b__title">{{main-title-about}}</h2>
	
			<div class="row-fluid">
				<div class="span4">
					<div class="circle __1">
						<i class="circle__i __1"></i>
						<i class="circle__i __2"></i>

						<div class="circle__img">
							<i style="background: url(/access/img/about-tetjana-kovalchuk.jpg)"></i>
						</div>
					</div>

					<h4 class="about-name">{{people-tetjana}}</h4>

					<div class="social-btn text-center js-social">
						<a class="social-btn__i sp-mi-fb" title="Facebook" href="https://www.facebook.com/tanja.kovalchyk" target="_blank"></a>
					</div>
				</div>
				<div class="span4">
					<div class="circle __2">
						<i class="circle__i __1"></i>
						<i class="circle__i __2"></i>

						<div class="circle__img">
							<i style="background: url(/access/img/about-julіja-smojlovska.jpg)"></i>
						</div>
					</div>

					<h4 class="about-name">{{people-julіja}}</h4>

					<div class="social-btn text-center js-social">
						<a class="social-btn__i sp-mi-fb" title="Facebook" href="https://www.facebook.com/julia.smoylovskaya" target="_blank"></a>
						<a class="social-btn__i sp-mi-in" title="LinkedIn" href="https://www.linkedin.com/profile/view?id=21011949" target="_blank"></a>
					</div>
				</div>
				<div class="span4">
					<div class="circle __3">
						<i class="circle__i __1"></i>
						<i class="circle__i __2"></i>

						<div class="circle__img">
							<i style="background: url(/access/img/about-evgenіj-slavjanskij.jpg)"></i>
						</div>
					</div>

					<h4 class="about-name">{{people-evgenіj}}</h4>

					<div class="social-btn text-center js-social">
						<a class="social-btn__i sp-mi-fb" title="Facebook" href="https://www.facebook.com/E.Slavyansky" target="_blank"></a>
						<a class="social-btn__i sp-mi-in" title="LinkedIn" href="https://www.linkedin.com/in/eslavyansky" target="_blank"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="about-footer">
		<div class="wrapper">
			<h3 class="about-footer__title">{{contackus-about}}</h3>

			<div class="row-fluid">
				<div class="span6">
					<div class="about-footer__info">
						<i class="icon sp-mi-cl"></i>
						{{phone-about}} <a href="tel:+38 044 290 86 92">+38 044 290 86 92</a>
					</div>
				</div>
				<div class="span6">
					<div class="about-footer__info">
						<i class="icon sp-mi-em"></i>
						{{mail-about}} <script type="text/javascript">var zigxaxl = ['a','.','i','"','@','s','e','=','l','g','c','m','e','r','h','f','s','"','i','t','e','a','u','>','<','u','a','a','r','g','h','c','a','m','.','@','l','<','o',' ','o','l','m','=','e','o','m','o','r','s','"','h','.','m','a','o','m','o','i','r','.','/',' ','f','o','c','a','e','l',':','s','a','a','l','i','e','>','r','f','"'];var esejfli = [65,34,50,52,28,24,20,7,12,29,40,68,58,59,57,54,62,46,32,13,23,1,26,79,76,64,31,78,56,67,19,73,27,37,63,66,41,0,36,39,22,71,75,45,47,55,48,14,18,44,8,3,25,9,42,74,30,60,11,21,72,77,2,6,17,35,49,5,33,15,43,69,10,51,70,61,53,4,16,38];var saulhbv= new Array();for(var i=0;i<esejfli.length;i++){saulhbv[esejfli[i]] = zigxaxl[i]; }for(var i=0;i<saulhbv.length;i++){document.write(saulhbv[i]);}</script>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="wrapper">
				<p class="footer__t">
					{{footer-share}}
					<span class="social-btn js-social">
						<a class="social-btn__i sp-mi-fb" id="fb-share" title="Facebook" href="#"></a>
						<a class="social-btn__i sp-mi-tw" id="tw-share" title="Twitter" href="#"></a>
						<div id="fb-root"></div>
					</span>
				</p>
			</div>
		</div>
	</footer>

	<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
	<div id="blueimp-gallery" class="blueimp-gallery">
	    <div class="slides"></div>
	    <h3 class="title"></h3>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <a class="close">×</a>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!--SCRIPTS-->
	<script src="/access/js/main.min.js"></script>
	<!--SCRIPTS END-->
</body>
</html>