<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <title>{{title-handmade}}</title>
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="{{title-handmade}}">
	<meta property="og:description" content="{{description-handmade}}">
	<meta property="og:url" content="http://forheroes.org.ua/">
	<meta property="og:image" content="http://forheroes.org.ua/access/img/open-graph.jpg">

	<meta property="og:locale" content="{{lang-iso}}">
	<meta property="og:site_name" content="{{title-handmade}}">
	<meta property="og:type" content="article">
	<meta property="article:publisher" content="https://www.facebook.com/groups/HandmadeForHeroes.UA">
	
	include "__head.html"
</head>
<body class="load">
	<noscript><div class="noscript">{{no-js-message}}</div></noscript>
	
	<div class="load_overlay" id="load_overlay">
		<div class="load_animate">
			<div class="wBall" id="wBall_1">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_2">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_3">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_4">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_5">
				<div class="wInnerBall"></div>
			</div>
		</div>
	</div>

	include "__header.html"

	<section class="main-b">
		<div class="wrapper">
			<h2 class="main-b__title">{{main-title-handmade}}</h2>
			
			<div class="step-b">
				<div class="step-b__i row-fluid">
					<div class="span6">
						<div class="step-b__i__img">
							<img src="/access/img/how-it-works-1.png" width="200" height="200" alt="{{title-handmade-1}}">
						</div>					
					</div>
					<div class="span6">
						<h3 class="step-b__i__title">{{title-handmade-1}}</h3>
						<p class="step-b__i__text">{{text-handmade-1}}</p>
						<p class="step-b__i__link">
							<a href="#">{{link-handmade-1}}</a>
						</p>
					</div>
					<i class="step-b__i__arow sp-arow"></i>
				</div>
				<div class="step-b__i row-fluid">
					<div class="span6">
						<h3 class="step-b__i__title">{{title-handmade-2}}</h3>
						<p class="step-b__i__text">{{text-handmade-2}}</p>
						<p class="step-b__i__link">
							<a href="#">{{link-handmade-2}}</a>
						</p>
					</div>
					<div class="span6">
						<div class="step-b__i__img">
							<img src="/access/img/how-it-works-2.png" width="200" height="200" alt="{{title-handmade-2}}">
						</div>					
					</div>
					<i class="step-b__i__arow sp-arow"></i>
				</div>
				<div class="step-b__i row-fluid">
					<div class="span6">
						<div class="step-b__i__img">
							<img src="/access/img/how-it-works-3.png" width="200" height="200" alt="{{title-handmade-3}}">
						</div>					
					</div>
					<div class="span6">
						<h3 class="step-b__i__title">{{title-handmade-3}}</h3>
						<p class="step-b__i__text">{{text-handmade-3}}</p>
						<p class="step-b__i__link">
							<a href="#">{{link-handmade-3}}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="wrapper">
			<p class="footer__t">
				{{footer-share}}
				<span class="social-btn js-social">
					<a class="social-btn__i sp-mi-fb" id="fb-share" title="Facebook" href="#"></a>
						<a class="social-btn__i sp-mi-tw" id="tw-share" title="Twitter" href="#"></a>
					<div id="fb-root"></div>
				</span>
			</p>
		</div>
	</footer>

	include "__footer.html"
</body>
</html>