<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <title>{{title-home}}</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="{{title-home}}">
	<meta property="og:description" content="{{description-home}}">
	<meta property="og:url" content="http://forheroes.org.ua/">
	<meta property="og:image" content="http://forheroes.org.ua/access/img/open-graph.jpg">

	<meta property="og:locale" content="{{lang-iso}}">
	<meta property="og:site_name" content="{{title-home}}">
	<meta property="og:type" content="article">
	<meta property="article:publisher" content="https://www.facebook.com/groups/HandmadeForHeroes.UA">

	include "__head.html"
</head>
<body class="load">
	<noscript><div class="noscript">{{no-js-message}}</div></noscript>
	
	<div class="load_overlay" id="load_overlay">
		<div class="load_animate">
			<div class="wBall" id="wBall_1">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_2">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_3">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_4">
				<div class="wInnerBall"></div>
			</div>
			<div class="wBall" id="wBall_5">
				<div class="wInnerBall"></div>
			</div>
		</div>
	</div>

	include "__header.html"
	
	<div class="main-b-slider js-mainSlider">
		<ul class="slides" id="projectBlockContainer">
			include "handlebarsStatic.html"
		</ul>
	</div>

	<footer class="footer">
		<div class="wrapper">
			<p class="footer__t">
				{{footer-share}}
				<span class="social-btn js-social">
					<a class="social-btn__i sp-mi-fb" id="fb-share" title="Facebook" href="#"></a>
						<a class="social-btn__i sp-mi-tw" id="tw-share" title="Twitter" href="#"></a>
					<div id="fb-root"></div>
				</span>
			</p>
		</div>
	</footer>

	include "__footer.html"
</body>
</html>